{{- /* Chezmoi configuration template */ -}}
{{- /* Executed during 'chezmoi init' to generate ~/.config/chezmoi/chezmoi.toml */ -}}

{{- $is_server := false -}}
{{- $is_work := false -}}

{{- if eq .chezmoi.hostname "Mac-mini" -}}
{{-   $is_server = true -}}
{{- else if eq .chezmoi.hostname "Francis-MacBook-Air" -}}
{{- else if hasPrefix "work-" .chezmoi.hostname -}}
{{-   $is_work = true -}}
{{- end -}}

[data]
    is_server = {{ $is_server }}
    is_work = {{ $is_work }}
