# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

{{ if not .is_server -}}
Host Mac-mini.local
	HostName Mac-mini.local
	User francis
	ForwardAgent yes
	ServerAliveInterval 60
	ServerAliveCountMax 3
	TCPKeepAlive no
	PasswordAuthentication no

{{ end -}}
Host *
	IdentityAgent {{ .chezmoi.homeDir }}/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh
	ForwardAgent yes
